@font-face {
  font-family: "gotham-book";
  src: url("fonts/gotham-book-webfont.woff");
}

@font-face {
  font-family: "gotham-medium";
  src: url("fonts/gotham-medium-webfont.woff");
}

@font-face {
  font-family: "gotham-bold";
  src: url("fonts/gotham_bold-webfont.woff");
}

body {
  margin: 0;
}

nav {
  text-align: left;
  display: flex;
  position: relative;
  font-family: "gotham-medium";
  font-size: 13px;
  align-items: center;
}

.nav-item {
  padding: 8px;
}

#nav-right {
  margin-left: auto;
  display: flex;
  font-family: "gotham-book";
  font-size: 13px;
}

#searchbar {
  font-family: "gotham-book";
  border: none;
  border-bottom: 0.5px solid black;
}

.row {
  display: flex;
  gap: 16px;
  margin-bottom: 20px;
}

.image-container {
  position: relative;
  width: 50%;
}

.image {
  width: 100%;
  height: auto;
}

.image-contents {
  position: absolute;
  width: 282px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-family: "gotham-book";
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 6px;
}

.image-text {
  margin-bottom: 40px;
  text-align: center;
  line-height: 1.5;
}

.image-button {
  background-color: transparent;
  border: 1px solid white;
  color: white;
  padding: 4px 40px;
  font-family: "gotham-medium";
  font-size: 16px;
  letter-spacing: 4px;
  margin: 0 auto;
  display: block;
}

#slider {
  position: relative;
}

#left-arrow {
  position: absolute;
  top: 50%;
  left: 32px;
  transform: translate(0, -50%);
}

#right-arrow {
  position: absolute;
  top: 50%;
  right: 32px;
  transform: translate(0, -50%);
}

.image-hide {
  display: none;
  transition: display 2s;
}